<main class="centercontent">
    <form class="singleframe">
        <div class="form container-vertical">
            {{{login}}}
            {{{password}}}
            {{{signin}}}
            {{{register}}}
        </div>
    </form>
</main>
