.input {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;

    input {
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;


        border: 1px solid gray;
        border-radius: var(--border-radius);
        padding: 0.7rem;
    }

    label {
        background:white;
        color:gray;
        display: block;
        padding: 0 0.25rem;
        position: absolute;
        left: 1rem;
        top: 0.1rem;

        
        transition: transform .15s ease-out,color .15s ease-out;
        cursor: text;
        pointer-events: none;
        transform-origin: left center;
        white-space: nowrap;
    }

    &__errorinfo {
        display:none;
        color: lightgray;
        height: 16px;
        /* Inside auto layout */
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
    }
}