.usericon {
    height: var(--usericon-size);
    width: var(--usericon-size);
    border: 3px solid gray;
    border-radius: var(--usericon-border-radius);
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}

.usericon__img {
    border-radius: var(--usericon-border-radius);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

