:root {
    --border-radius: 10px;
    --usericon-size: 89px;
    --usericon-border-radius: 30%;

    /* Colours*/
    --color-main: black;
    --color-background: lightgray;
    --color-border: black;

    --color-message: green;
    --color-message-own: lightblue;

    --chat-background: white;
    --interface-background: lightgray;

}
