<main>
    <div class="singleframe">
        <div class="form container-vertical">
            <ul>
                {{{Button}}}
                {{#each links}}
                    <li>
                        <a href="{{this}}">{{this}}</a>
                    </li>
                {{/each}}
            </ul>

        </div>
    </div>
</main>
