.message {
    display: flex;
    margin-bottom: 0.375rem;
    --background-color: var(--color-background);

    &__bubble {
        width: 300px;
        padding: 10px;
        border-radius: 10px;
        background: var(--background-color);
    }

    &.own {
        --background-color: var(--color-background-own);
        flex-direction: row-reverse;
    }
}
