.message {
    display: flex;
    margin: 1rem;
    margin-bottom: 0.375rem;

    --background-color: var(--color-message);
}

.message__bubble {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background: var(--background-color);
}

.message.own {
    --background-color: var(--color-message-own);
    flex-direction: row-reverse;
}

