.chatelement {
    height: 111px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    background-color: var(--color-interface-background);

    &__avatar {
        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        justify-content: center;

        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__info {
        flex: 1;
        order: 1;
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.3rem;
        gap: 2px;

        &__label {
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
        }

        &__lastmsg {
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
        }
    }
}
