<li class="chatelement" data-chat-id="{{id}}">
    <div class="chatelement__avatar">
        {{>usericon/usericon src="../../../static/images/blank-profile-picture.png"}}
    </div>
    <div class="chatelement__info">
        <div class="chatelement__info__label">{{name}}</div>
        <div class="chatelement__info__lastmsg">{{last_msg}}</div>
    </div>
</li>
