<nav class="chat__nav">
    {{> button/button caption="Profile"}}
    {{> input/input caption="Search" type="search" placeholder='Search'}}
</nav>
<div class="scroll-y">
    {{>chatlist/chatlist}}
</div>
