body {
    min-height: 90vh;
    display: grid;
  }
.message-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.message{
    display: flex;
}

.message.own {
    background-color: green;
    flex-direction: row-reverse;
}