<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Chat window</title>
        <link rel="stylesheet" href="chat.css">
    </head>
    <body>
        <div class="message-list">
            <div class="message">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message own">message lorem psum</div>
            <div class="message own">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message own">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message own">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message own">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message own">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message own">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message own">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message own">message lorem psum</div>
            <div class="message">message lorem psum</div>
            <div class="message own">message lorem psum</div>
        </div>
    </body>
</html>