body {
    min-height: 90vh;
    display: grid;
    --color-background-own: green;
    --color-background: gray;
  }
.message-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.message{
    display: flex;
    --background-color: var(--color-background);
}

.message.own {
    --background-color: var(--color-background-own);
    flex-direction: row-reverse;
}
.message-bubble {
    background: var(--background-color);
}