---
language: en
title: error - 404
stylesheets:
    - 404.css
---
{{#extend "base" bodyclass="centercontent"}}
    {{#content "main"}}
    <main>
        <div>
            <h1>Error 404</h1><br>
            Location not exist
            <nav>
                <a href="index.hbs">Back to main</a>
            </nav>
        </div>
    </main>
    {{/content}}
{{/extend}}
