---
language: en
title: error - 500
stylesheets:
    - 404.css
---
{{#extend "base"}}
    {{#content "main"}}
    <main>
        <div>
            <h1>Error 500</h1><br>
            Everything is broken
        </div>
    </main>
    {{/content}}
{{/extend}}
