.chat {

    &__body{
        width: 100%;
        height: 100%;
        padding:0;
        margin:0;
        display:grid;
        grid-template-columns: 338px 1fr;
        grid-template-rows: 100%;
    }

    &__container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.scroll-y {
    overflow-y: scroll;
}
