---
language: en
stylesheets:
- chat.css
title: Chat
---
{{#extend "base"}}
    {{#content "main"}}
        {{#embed "frames/mainframe"}}
            {{#content "left"}}
                <nav>
                    {{> button/link caption="Profile" href="profile.hbs"}}
                    {{> input/input }}
                </nav>
                <div>
                    {{>chatlist/chatlist}}
                </div>
            {{/content}}
            {{#content "right"}}
                <div>
                    Select Chat
                </div>
            {{/content}}
        {{/embed}}
    {{/content}}
{{/extend}}
