---
language: en
stylesheets:
- chat.css
title: Chat
---
{{#extend "base"}}
    {{#content "main"}}
        {{#embed "frames/mainframe"}}
            {{#content "left"}}
                <nav>
                    {{> button/button caption="Profile"}}
                    {{> input/input caprion="Search"}}
                </nav>
                <aside>
                    {{>chatlist/chatlist}}
                </aside>
            {{/content}}
            {{#content "right"}}
                <header>
                    {{>usericon/usericon src="#"}}
                </header>
                <main>
                    {{> message-list/message-list }}
                    <footer>
                        {{> composer/composer }}
                    </footer>
                </main>
            {{/content}}
        {{/embed}}
    {{/content}}
{{/extend}}
