---
language: en
title: Login
stylesheets:
    - index.css
---
{{#extend "base"}}
    {{#content "main"}}
    <main>
        <form class="singleframe">
            <div class="form container-vertical">
                {{>input/input label="Login" id="login"}}
                {{>input/input label="Password" id="password" type="password"}}
                <div style="height: 23px;"></div>
                {{>button/link caption="Sign in" class="signin-button" href="chat.hbs"}}
                {{>button/link class="button-primary button__white" caption="Register" href="register.hbs"}}
            </div>
        </form>
    </main>
    {{/content}}
{{/extend}}