---
language: en
title: Login
stylesheets:
    - index.css
links:
    - 404.hbs
    - 500.hbs
    - login.hbs
    - register.hbs
    - chat.hbs
    - profile.hbs

---
{{#extend "base"}}
    {{#content "main"}}
    <main>
        <form class="singleframe">
            <nav class="form container-vertical">
                <ul>
                    {{#each links}}
                        <li>
                            <a href="{{this}}">{{this}}</a>
                        </li>
                    {{/each}}
                </ul>
            </nav>
        </form>
    </main>
    {{/content}}
{{/extend}}
