---
language: en
title: Login
stylesheets:
    - index.css
links:
    - 404
    - 500
    - login
    - register
    - chat
    - chatselected
    - profile

---
{{#extend "base"}}
    {{#content "main"}}
    <main>
        <form class="singleframe">
            <div class="form container-vertical">
                <ul>
                    {{#each links}}
                        <li>
                            <a href="{{this}}.hbs">{{this}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </form>
    </main>
    {{/content}}
{{/extend}}
