---
language: en
stylesheets:
    - profile.css
title: Profile
---
{{#extend "base"}}
    {{#content "main"}}
    <main>
        <form class="singleframe">
            <div class="form container-vertical">
                    {{>button/link caption="Back" href="chat.hbs"}}
                <div style="display: flex; flex-direction:row;">
                    {{>usericon/usericon src="../../../static/images/blank-profile-picture.png"}}
                    <div>John Smith</div>
                </div>
                {{>input/input label="Firstname" name="first_name"}}
                {{>input/input label="Lastname" name="second_name"}}
                {{>input/input label="Login" name="display_name"}}
                {{>input/input label="Login" name="login"}}
                {{>input/input label="Email" name="email"}}
                {{>input/input label="Phone" name="phone" type="tel"}}
                {{>input/input label="Password" id="password" type="password"}}
                {{>input/input label="Repat password" id="password_repeat" type="password"}}

                <div style="height: 23px;"></div>
                {{>button/link caption="Change password" class="signin-button" href="chat.hbs"}}
                {{>button/link class="button-primary button__white" caption="Logout" href="login.hbs"}}
            </div>
        </form>
    </main>
    {{/content}}
{{/extend}}
