---
language: en
stylesheets:
    - register.css
title: Register | asd
uri: /register.hbs
---
{{#extend "base"}}
    {{#content "main"}}
    <main>
        <h1>Welcome from index.hbs</h1>
        <a href="register.hbs">about page</a>
        <br />
        {{> states}}
    </main>
    {{/content}}
{{/extend}}